<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Deep learning workflow for imaging cytometry">
    <meta name="author" content="Minh Doan">
    <link rel="shortcut icon" href="#" />

    <title>Deepometry WebApp v1.0</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "static/Deepometry_CSS.css" />


    <style>
      #cover-spin {
          position:fixed;
          width:100%;
          left:0;right:0;top:0;bottom:0;
          background-color: rgba(255,255,255,0.7);
          z-index:9999;
          display:none;
      }

      @-webkit-keyframes spin {
        from {-webkit-transform:rotate(0deg);}
        to {-webkit-transform:rotate(360deg);}
      }

      @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
      }

      #cover-spin::after {
          content:'';
          display:block;
          position:absolute;
          left:48%;top:40%;
          width:40px;height:40px;
          border-style:solid;
          border-color:black;
          border-top-color:transparent;
          border-width: 4px;
          border-radius:50%;
          -webkit-animation: spin .8s linear infinite;
          animation: spin .8s linear infinite;
      }
    </style>

    <script src="/static/jquery-3.5.0.js"></script>

    
  </head>

  <body>
    <!-- Turn this on/off if you'd like to see a loading message for time consuming processes -->
    <div id="cover-spin"><div onclick="$('#cover-spin').hide(0)" style="position:absolute;left:32%;top:35%;color:black;font-size:58px;cursor:pointer;color:#C00;">If a required field is missing, click this message to return. If all is set here, watch the terminal for more details.</div></div>
    
    <!-- Prevent refresh/F5/Ctrl+5 to submit the actions again -->
    <script>
      if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
      }
    </script>

    <table style="border: 0px;" width="100%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">
      <col style="width:25%">

      <tbody>
        
        <tr class = "noBorder">
          <td align="center">
            <p><strong>1. Preprocessing</strong></p>
          </td> 

          <td align="center">
            <p><strong>2. Model training </strong></p>
          </td>

          <td align="center">
            <p><strong>3a. Prediction</strong></p>
          </td>

          <td align="center" >
            <p><strong>3b. Feature extraction</strong></p>
          </td>
        </tr>
      
  
        <tr class="noBorder">
          <!-- Preprocessing -->
          <td style="vertical-align: top;"> 
            <form  action="/" method="post" role="form">
              <table style="border: 0px;">
                <tr>
                  <td align="right"><label for="input_parse">Input location:</label></td>
                  <td align="left"><abbr title="Choose the folder that contains original image inputs. Note: it is highly recommended to structure the input folder into hierarchical sub-folders tagged with Experiment ..., Day ..., Sample ..., Replicate ... , Class ..."><input type="text" class="form-control" id="input_parse" name="input_parse" placeholder="/Data/Raw_data" required /></abbr></td>
                </tr> 
                <tr>
                  <td align="right"><label for="output_parse">Output location:</label></td>
                  <td align="left"><abbr title="Location to store the parsed numpy arrays. Sub-folders will be automatically created to mirror input folder structure."><input type="text" class="form-control" id="input_parse" name="output_parse" placeholder="/Data/Parsed_data" required /></abbr></td>
                </tr>                 
                <tr>
                  <td align="right"><label for="frame">Frame size:</label></td>
                  <td align="left"><abbr title="Set the width/height size of the (width × height × channel) tensor. If user sets a size bigger than the original images, each of the images will be padded with its own background. If user sets a size smaller than the original images, each of the images will be cropped toward its center." aria-label="required"><input type="text" class="form-control" id="frame" name="frame" placeholder="default=48 or integer eg. 65" pattern="[0-9]*" /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><label for="channels">Channels:</label></td>
                  <td align="left"><abbr title="Choose the channel(s) imaged by the instrument (e.g. image flow cytometer, fluorescent microscopy). If a single channel is desired, input an integer without bracket. If multiple channels are desired, use square brackets [ ], eg. [0,6,3,4]." aria-label="required"><input type="text" class="form-control" id="channels" name="channels" placeholder="default=All or int or list [1,9]" /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><label for="montage_size">Montage size:</label></td>
                  <td align="left"><abbr title="(Optional) Use this option to generate per-channel tiled (stitched) montages"><input type="text" class="form-control" id="montage_size" name="montage_size" placeholder="default=no stitching or int 30" pattern="[0-9]*" /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><abbr title="(Optional) Input a ratio, e.g. '80:20' or '80/20' or '80,20', to split the parsed data into Training and Hold-out Cross-Validation subsets. Data will be randomly shuffled before splitting. Training set can be used in 'Step 2. Model Training', and Hold-out set can be used in 'Step 3a. Prediction' to evaluate the model performance."><label for="train_test_split">Train/Hold-out split:</label></abbr></td>
                  <td align="left"><abbr title="(Optional) Input a ratio, e.g. '80:20' or '80/20' or '80,20', to split the parsed data into Training and Hold-out Cross-Validation subsets."><input type="text" class="form-control" id="train_test_split" name="train_test_split" placeholder="default=no split or ratio 70:30" pattern="[0-9]*[,_:/-][0-9]*" /></abbr></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="left"><abbr title="Output: parsed .NPY files at output location"><button type="submit" class="btn btn-success" name='parse_train_btn' onclick="$('#cover-spin').show(0)">Parse</button></abbr></td>
                </tr> 
              </table>
            </form>
          </td>

          <!-- Model training -->
          <td style="vertical-align: top;">
            <form  action="/" method="post" role="form">
              <table style="border: 0px;">
                <tr>
                  <td align="right"><label for="input_train">Input location:</label></td>
                  <td align="left"><abbr title="Location of parsed .NPY files to be used for model training" aria-label="required"><input type="text" class="form-control" id="input_train" name="input_train" placeholder="/Data/Parsed_training_data" required /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><label for="output_train">Output location:</label></td>
                  <td align="left"><abbr title="Location to store the trained model" aria-label="required"><input type="text" class="form-control" id="output_train" name="output_train" placeholder="/Data/Saved_Model" /></abbr></td>
                </tr> 
                <tr>
                  <td align="right">
                    <abbr title="Target categories to train the classifier, e.g. choose 'Samples' to instruct the model to learn to categorize Sample A, Sample B, Sample C; choose 'Classes' to train the model to distinguish 'Class Control_cells', 'Class Treated_cells' etc..." aria-label="required">Target classification:</abbr>
                  </td>
                  <td align="left">
                    <abbr title="If this dropdown menu appears empty, retrieve the list of possible targets by specifying input location"><input type="text" id="class_option" name="class_option" list="l1" ></abbr>
                    <datalist id="l1">
                      {% for line in possible_targets %}
                      <option>
                      {{ line }}
                      </option>
                      {% endfor %}
                    </datalist>
                    <abbr title="Retrieve possible target labels from input location that contains parsed numpy arrays"><button type="submit" class="btn btn-success" name='retrievetargets_btn'>Retrieve</button></abbr>
                  </td>
                </tr> 
                <tr>
                  <td align="right"><label for="epochs">Learning iteration:</label></td>
                  <td align="left"><abbr title="The number of epochs for a deep learning training session. By default it is set to 512, which might take several days (depends on the size of the training materials and available hardware, especially GPUs)"><input type="epochs" class="form-control" id="epochs" name="epochs" placeholder="default=512" /></abbr></td>
                </tr>           
                <tr>
                  <td>&nbsp;</td>
                  <td align = "left">
                    <abbr title="Output: a trained model, a learning curve with val_loss"><button type="submit" class="btn btn-success" name='train_btn' onclick="$('#cover-spin').show(0)">Train</button></abbr>
                  </td>
                </tr>
              </table>
            </form>

          </td>

          <!-- Evaluation -->
          <td style="vertical-align: top;">
            <form  action="/" method="post" role="form"> 
              <table style="border: 0px;">
                <tr>
                  <td align="right"><label for="input_predict">Input location:</label></td>
                  <td align="left"><abbr title="Location of parsed .NPY files to be used for evaluation" aria-label="required"><input type="text" class="form-control" id="input_predict" name="input_predict" placeholder="/Data/Parsed_eval_data" required /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><label for="output_predict">Output location:</label></td>
                  <td align="left"><abbr title="Location to store the Evaluation or Feature Extraction outcomes" aria-label="required"><input type="text" class="form-control" id="output_predict" name="output_predict" placeholder="/Data/Eval_output" required /></abbr></td>
                </tr>                
                <tr>
                  <td align="right">
                    <abbr title="If this drop-down menu appears empty, retrieve information from Training input location. We need to reconstruct the full range of categorization, and the training materials should contain all such categories the model has been exposed to. E.g. there could be a situation that one or some categories are missing in a testing dataset." aria-label="required">Target classification:</abbr>
                  </td>
                  <td align="left">
                    <abbr title="If this drop-down menu appears empty, retrieve information from Training input location."><input type="text" id="t1" name="class_option" list="l1" required ></abbr>
                    <datalist id="l1">
                      {% for line in possible_targets %}
                      <option>
                      {{ line }}
                      </option>
                      {% endfor %}
                    </datalist>
                  </td>
                </tr>                 
                <tr>
                  <td align="right"><label for="modellocation">Model location:</label></td>
                  <td align="left"><abbr title="(Optional) Location of the saved model. Input either a folder location or an exact .h5 or .hdf5 file. If no location is provided, the checkpoint.hdf5 (in deepometry/data/) will be used"><input type="modellocation" class="form-control" id="modellocation" name="modellocation" placeholder="/Data/Saved_Model" /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><abbr title="Tick this box to perform label prediction on unknown (unannotated) test data"><label for="unannotated_box_ticked">Unannotated data?</label></abbr></td>
                  <td align = "left">
                    <label class="switch">
                      <input id="unannotated_box_ticked" name="unannotated_box_ticked" type="checkbox">
                      <input name="unannotated_box_ticked" type="hidden" value="off">
                    </label>
                    <abbr title="Output: confusion matrix, plot, predicted values and accuracy report"><button type="submit" class="btn btn-success" name='evaluate_btn' onclick="$('#cover-spin').show(0)">Predict</button></abbr>					   
                  </td>                  
                </tr>
              </table>
            </form>
          </td>

          <!-- Feature extraction -->
          <td style="vertical-align: top;">
            <form  action="/" method="post" role="form">     
              <table style="border: 0px;">
                <tr>
                  <td align="right"><label for="input_extract">Input location:</label></td>
                  <td align="left"><abbr title="Choose the folder that contains parsed numpy arrays" aria-label="required"><input type="text" class="form-control" id="input_extract" name="input_extract" placeholder="/Data/Parsed_eval_data" required /></abbr></td>
                </tr>
                <tr>
                  <td align="right"><label for="output_extract">Output location:</label></td>
                  <td align="left"><abbr title="Location to store the Evaluation or Feature Extraction outcomes" aria-label="required"><input type="text" class="form-control" id="output_extract" name="output_extract" placeholder="/Data/Eval_output" required /></abbr></td>
                </tr>   
                <tr>
                  <td align="right"><abbr title="Location of the saved model. Input either a folder location or an exact .h5 or .hdf5 file. If the provided folder location contains more than one model, the latest .h5 or .hdf5 will be loaded. Note: it is critical that the model name contains the numeric identifier of how many categories the model was trained to classify. Please check whether such a file exists after model training, eg. 'model_NNN_7_catogories.h5'"><label for="modellocation">Model location:</label></abbr></td>
                  <td align="left"><abbr title="Location of the saved model"><input type="modellocation" class="form-control" id="modellocation" name="modellocation" placeholder="/Data/Saved_Model" required /></abbr></td>
                </tr>    
                <tr>
                  <td align="right" style="vertical-align: top;"><abbr title="Use a trained model to extract deep learning feature embeddings of unclassified objects (eg. as in weakly supervised learning). Once feature extraction is done, the output files, i.e. features_extracted_by_pool5.txt, metadata.tsv can be uploaded to http://projector.tensorflow.org for 2D/3D PCA, t-SNE, and UMAP visualization of deep learning embeddings.">Feature extraction:</abbr></td>
                  <td align="left">
                    <input type="radio" name="feature_extraction_layer" id="res4a_relu" value="res4a_relu" required /> Res4a_ReLU</input>
                    <input type="radio" name="feature_extraction_layer" id="res5a_relu" value="res5a_relu" required /> Res5a_ReLU</input>
                    <input type="radio" name="feature_extraction_layer" id="pool5" value="pool5" required /> pool5</input>
                  </td>               
                </tr>          
                <tr>
                  <td>&nbsp;</td>
                  <td align = "left">              
                    <abbr title="Output: extracted feature (features_extracted_by_pool5.txt) and corresponding metadata (metadata.tsv), which can be uploaded to http://projector.tensorflow.org for 2D/3D PCA, t-SNE, and UMAP visualization"><button type="submit" class="btn btn-success" name='extract_btn' onclick="$('#cover-spin').show(0)">Extract</button></abbr>
                  </td>
                </tr>   
              </table>
            </form>                                
          </td>
        </tr>

        <tr class="noBorder">
          <td align = "center"><img src="static/output_folder_tree.png" width="60%" height="70%"></td>

          <td align = "center"><img src="static/learning_curve.png" width="60%" height="60%"></td>

          <td align = "center"> 
            <div id="wrapper">
                <div style="width: 170px; height: 170px; position: relative; padding: 20px;">
                  <img src="static/confusion_matrix.png" width="100%" height="100%" style="position: absolute; top: 0; left: -160px; z-index: 1; ">
                  <img src="static/prediction_accuracy.png" width="100%" height="90%" style="position: absolute; top: 2; left: 60px; z-index: 1; ">
                </div>
            </div>
          </td>
          <td>               
            <div style="width: 170px; height: 170px; position: relative; padding: 20px;">
              <img src="static/3d_plot.png" width="130%" height="100%" style="position: absolute; top: 0; left: 20px; z-index: 1; ">
            </div>
          </td>           
        </tr>
        
      </tbody>
    </table>
    </div>
  </body>
</html>













